.sortable {
	cursor: pointer;
	/* color: #dd5; */
	color: rgb(42, 156, 198)
}
/* Part 3b) Highlight Space debris Warning Class Below*/
/* Use isSpaceDebris to add the warning CSS class to the <td> containing the satellite's type. */
.warning {
	/* background-color: #da8a8a; */
	background-color: red;
}

table {
 color: #111;
 border-radius: 5px;
 overflow: hidden;
 margin: 12px 0;
 min-width: 300px;
 background: hotpink
 /* #dad8d8; Changing the line color to make it "Pop a little more*/
}

.header-row {
	background: #34495E;
	color: #fff
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}


/* Bonus Zebra Strips where to find answer from google:
 https://linuxhint.com/css-table-alternate-row-color/#:~:text=A%20style%20selector%20in%20CSS,property%20within%20this%20style%20selector. */

tr:nth-child(even){
	background-color: lightseagreen;
}

tr:nth-child(odd){
	background-color: rgb(212, 191, 215)
}
/* Removing the odd will take away the "heading" but the boarder will bleed in  */