.sortable {
	cursor: pointer;
	color: #dd5;
}
/* Part 3) Highlight Space debris Warning Class Below*/
.warning {
	background-color: #da8a8a;
}

table {
 color: #111;
 border-radius: 5px;
 overflow: hidden;
 margin: 12px 0;
 min-width: 300px;
 background: #dad8d8;
}

.header-row {
	background: #34495E;
	color: #fff
}

th, td {
	text-align: left;
	margin: 5px 10px;
	padding: 6px;
}


/* Bonus Zebra Strips where to find answer from google:
 https://linuxhint.com/css-table-alternate-row-color/#:~:text=A%20style%20selector%20in%20CSS,property%20within%20this%20style%20selector. */

tr:nth-child(even){
	background-color: lightseagreen;
}

tr:nth-child(odd){
	background-color: gray
}
